*.received.*
nuget_packages/
.DS_Store

#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*.coverage
*~.nib
local.properties
.classpath
.settings/
.loadpath

build/Output
# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

#######################
## C#
#######################
bin/
.vs/
obj/
packages/

#######################
## Java
#######################

*.class
/bin
*.received.*
# Package Files #

*.war
*.ear

#######################
## ECMA Script
#######################
node_modules/
coverage/

#######################
## General
#######################
ignored/
Ignored/
